<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12 text-center">
      <h1>トレーニング名一覧表と登録</h1>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-sm-12 col-lg-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>名前</th>
            <th>部位</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @training_names. each do |training_name| %>
          <tr>
            <td><%= training_name.name %></td>
            <td><%= training_name.genre.name %></td>
            <td><%= link_to "詳細", training_name_path(training_name.id), class: "btn btn-primary btn-sm col-lg-10" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @training_names %>
    </div>
    <%= render 'new', training_name: @training_name %>
  </div>
</div>
