<div class="container">
  <div class="row m-5">
    <div class="col-md-12 text-center">
     <h1>トレーニング名を登録してください</h1>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-md-12 text-center">

      <%= form_with model: @training_name, url: "/training_names", method: :post do |f| %>
      <%= render 'layouts/error', model: f.object %>

  <div class="form-group">
    <%= f.label :"トレーニング名" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :"部位" %>
    <%= f.collection_select :genre_id, Genre.where(user:current_user), :id, :name, :prompt => "--選択してください--", class: "form-select form-select-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :"説明文" %>
    <%= f.text_area :introduction, autofocus: true, placeholder: "例）意識しながら注意するところなど" %>
  </div>

  <div class="submit">
    <%= f.submit "登録する", class: "btn btn-success" %>
  </div>
  <% end %>

    </div>
  </div>
</div>
