<div class="row m-1">
    <% @post_comments.first(6).each do |post_comment| %>
    <div class="col-sm-12 col-lg-4">
      <div class="card-deck">
       <div class="card  text-white bg-dark shadow-lg mt-3">
         <div class="card-body">
           <p class="card-title text-info">
             <%= link_to admin_permember_path(post_comment.user_id), class: "btn btn-success" do %>
             <%= post_comment.user.nickname %>のコメント一覧
             <% end %>
           </p>
           <p>コメント</p>
           <p class="card-text"><%= post_comment.comment %></p>
           <%= link_to "詳細はここ！", admin_post_comment_path(post_comment.id), class: "card-link btn btn-primary" %>
           <div class="pt-2"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
        </div>
       </div>
      </div>
    </div>
  <% end %>
  </div>