<div class="col-sm-12">
  <div class="card shadow-lg">
   <h1 class="card-header text-center">
    <%= image_tag tweet.user.get_profile_image(50,50), class: "rounded-circle float-left" %>
    <%= tweet.user.nickname %>さんのつぶやき〜
    <%= link_to "つぶやき削除", admin_tweet_path(tweet.id), method: :delete, "data-confirm" => "通報が多いので削除する？",class: "btn btn-danger btn-sm float-right" %>
   </h1>
   <div class="card-body">
    <h1 class="card-text text-center"><%= tweet.text %></h1>
    <br>
    <div class="row">
     <div class="col-sm-12 col-md-6 text-center text-danger">通報された数 : <%= tweet.reports.count %></div>
    </div>
    <div class="row m-3">
      <div class="col-sm-12">
        <h5><span class="h2"><i class="far fa-comments"></i></span>全<%= tweet.post_comments.count %>コメント</h5>
        <% @post_comments.each do |c| %>
        <table class="table">
           <%= image_tag c.user.get_profile_image(50,50), class: "rounded-circle" %>
           <div class="border-bottom border-dark pb-3 mb-2">
             by:<%= c.user.nickname %><br>
             <%= c.comment %><br>
             <%= link_to tweet_post_comment_path(tweet_id: tweet.id, id: c.id), method: :delete, "data-confirm" => "削除する？" do %>
             <i class="fas fa-trash" style="color: black;"></i>
             <% end %>
           <% end %>
           </div>
        </table>
      </div>
    </div>
   </div>
  </div>
</div>