<div class="col-sm-12">
  <div class="card shadow-lg">
   <h1 class="card-header text-center">
    <%= image_tag tweet.user.get_profile_image(50,50), class: "rounded-circle float-left" %>
    <%= tweet.user.nickname %>さんのつぶやき〜
    <%= link_to "つぶやき削除", admin_tweet_path(tweet.id), method: :delete, data: {confirm: "通報が多いので削除する？"} ,class: "btn btn-danger btn-sm float-right" %>
   </h1>
   <div class="card-body">
    <h1 class="card-text text-center"><%= tweet.text %></h1>
    <br>
    <div class="row">
     <div class="col-sm-12 col-md-6 text-center text-danger">通報された数 : <%= tweet.reports.count %></div>
    </div>
    <div class="row m-3">
      <div class="col-sm-12">
        <div id="delete_area">
         <%= render 'form', tweet: @tweet, post_comments: @post_comments %>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>