<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 text-center">
    <h1>会員様ツイート一覧</h1>
      <%= link_to "通報ありが多い順で表示", admin_tweets_path(order: :desc), class: "text-danger" %>｜
      <%= link_to "通報ありが少ない順で表示", admin_tweets_path(order: :asc), class: "text-danger" %>｜
      <%= link_to "ツイートすべてを表示", admin_tweets_path, class: "text-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
     <%= render 'tweets', tweets: @tweets %>
    </div>
  </div>
  <%= paginate @tweets %>
</div>
