<div class="container">
  <div class="row m-3">
    <div class="col-sm-12 text-center">
      <h1>検索結果</h1>
    </div>
  </div>
  <% if @records.present?%>
  <div class="row m-3">
    <div class="col-sm-12">
      <table class="table table-borderless">
      <thead class="thead-dark">
        <tr>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th>地域</th>
          <th>つぶやき</th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.prefecture %></td>
          <td><%= user.tweets.count %>件</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <h5 class="text-danger text-center">検索したユーザーはいませんでしたorz</h5>
    <% end %>
    </div>
  </div>
</div>
