<div class="jumbotron jumbotron-extend" style="background: url(<%= asset_path "kintore.jpeg" %>) center; background-size: cover;">
  <div class="container text-center">
　  <h1 class="app-name text-warning font-weight-bolder">WorkoutMenu</h1>
　  <p class="h4 text-warning font-weight-bolder mt-4">
　    このサイトは日々のトレーニングを管理したり<br>
　  気軽にトレーニーとのコミュニケーションができる<br>
　  コミュニティサイトです！
　  </p>
　  <div class="row m-5">
　    <div class="col-lg-4"><%= link_to "トレーニング名一覧", training_names_path, class: "btn btn-info col-lg-7 col-md-4" %></div>
　    <div class="col-sm-12 col-lg-3"></div>
　    <div class="col-sm-12 col-lg-4"><%= link_to "メニューカレンダー", training_menus_path, class: "btn btn-warning" %></div>
　  </div>
　  <div class="row m-5">
　    <div class="col-sm-12 col-lg-4"><%= link_to "つぶやく", new_tweet_path, class: "btn btn-info col-lg-7 col-md-4" %></div>
　    <div class="col-sm-12 col-lg-3"></div>
　    <div class="col-sm-12 col-lg-4"><%= link_to "部位登録一覧", genres_path, class: "btn btn-success col-lg-7 col-md-4" %></div>
　  </div>
  </div>
</div>
