<div class="container">
  <div class="row my-5 text-center">
    <div class="col-sm-12">
     <h1><%= @user.nickname %>のつぶやき一覧</h1>
    </div>
  </div>
  <div class="row my-5">
   <% if @tweets.present? %>
    <div class="col-sm-12">
     <div class="d-flex flex-column">
       <% @tweets.first(4).each do |tweet| %>
      <div class="card mb-3 shadow-lg">
         <div class="card-body">
          <h2 class="card-text"><%= tweet.text %></h2>
          <div class="row">
            <div class="col-sm-3">
             <%= link_to user_path(tweet.user.id) do %>
             <%= image_tag tweet.user.get_profile_image(100,100), class: "rounded-circle" %>
             <% end %>
            </div>
            <div class="col-sm-9">
             <p>ニックネーム：<%= tweet.user.nickname %><br>
             <%= tweet.post_comments.count %>コメント |
             <%= tweet.favorites.count %>いいね
             </p>
             <%= link_to "コメントはこちらから", tweet_path(tweet.id), class: "btn btn-primary btn-sm col-lg-4 col-md-7"  %>
            <% if current_user.id == tweet.user_id %>
             <%= link_to "つぶやき編集", edit_tweet_path(tweet.id), class: "btn btn-info btn-sm col-lg-4 col-md-7"  %>
             <%= link_to "呟き削除", tweet_path(tweet.id), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-danger btn-sm col-lg-3 col-md-7" %>
            <% end %>
             <div class="font-weight-bold">
              投稿日:  <%= tweet.created_at.strftime('%Y/%m/%d') %>
             </div>
            </div>
          </div>
         </div>
      </div>
      <% end %>
      <% else %>
      <div class="col-sm-12">
       <h1 class="text-danger text-center">ツイートはありません＞＜</h1>
      </div>
      <% end %>
     </div>
    </div>
  </div>
  <%= paginate @tweets %>
</div>
