<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 text-center">
      <h1 class="genre_edit">間違えてしまったら<br>こちらから編集してください</h1>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <%= form_with model: @genre, url: genre_path, method: :patch do |f| %>
      <%= render 'layouts/error', model: f.object %>
      <%= f.label "編集はこちらから↓" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "編集する", class: "btn btn-info mt-3 float-right btn-sm col-lg-4 col-sm-5" %>
      <% end %>
    </div>
  </div>
</div>
