<div class="container">
  <div class="row m-5">
    <div class="col-md-12">
      <h1 class="font-weight-bold text-center">各一日のトレーニングメニュー</h1>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-12">
      <table class="table table-borderless">
        <thead class="thead-dark">
         <tr>
          <th>日付</th>
          <th>名前</th>
          <th>部位</th>
          <th>レップ×セット</th>
          <th  colspan="5"></th>
         </tr>
        </thead>
        <tbody>
          <% @training_menus.each do |menu| %>
          <tr>
            <td><%= menu.date %></td>
            <td>
              <%= link_to training_menu_path(menu.id) do %>
              <%= menu.training_name.name %>
              <% end %>
            </td>
            <td><%= menu.training_name.genre.name %></td>
            <td><%= menu.count %>×<%= menu.set %></td>
            <td>
              <% if menu.status == true %>
              <%= menu.weight %>kg
              <% else %>
              <p>自重</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to "開始！", check_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
