<div class="container">
  <div class="row m-5">
    <div class="col-md-12 text-center">
      <h1>メニューの編集はここ！</h1>
    </div>
  </div>
  <div class="row m-3 text-center">
    <div class="col-md-12">
      <%= form_with model: @training_menu, url: training_menu_path, method: :patch do |f| %>


      <div class="form-group">
      <%= f.label :"部位" %>
      <%= f.collection_select :training_name_id, Genre.where(user:current_user), :id, :name %>
      </div>
      <div class="form-group">
      <%= f.label :"トレ名" %>
      <%= f.collection_select :training_name_id, TrainingName.where(user:current_user), :id, :name %>
      </div>
      <div class="form-group">
        <%= f.label :"日付" %>
        <%= f.date_field :day %>
      </div>
      <div class="form-group">
        <%= f.label :"レップ数" %>
        <%= f.number_field :count, min: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :"セット数" %>
        <%= f.number_field :set, min: 1 %>
      </div>
      <div class="form-group">
       <div class="radio_button">
        <%= f.radio_button :status, true %>
        <%= f.label :status, "加重" %>
        <%= f.radio_button :status, false %>
        <%= f.label :status, "自重" %>
       </div>
      </div>
      <div class="form-group">
        <% if @training_menu.status == true %>
       <%= f.label :"重さ" %>
       <%=f.number_field :weight, min: 1 %>kg
       <% end %>
      </div>
      <div class="form-group">
        <%= f.submit "メニューを編集する", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
