<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 text-center">
      <h1>メニューの編集はここ！</h1>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <%= form_with model: @training_menu, url: training_menu_path, method: :patch do |f| %>


      <div class="form-group">
      <%= f.label :"部位" %>
      <%= f.collection_select :genre_id, @genres, :id, :name, {prompt: false}, class: "form-control" %>
      </div>

      <div id="training_name_insert_point"></div>

      <div id="training_name">
       <div class="form-group">
        <%= f.label :"トレ名" %>
        <% if @training_names.blank? %>
           <%= f.select :training_name_id, [], {include_blank: "部位登録してください"}, class: "form-control" %>
           <% else %>
            <%= f.collection_select :training_name_id, @training_names, :id, :name, {include_blank: "---", prompt: false}, class: "form-control" %>
        <% end %>
       </div>
      </div>
<!--  --------- training_nameのtamplateを作成----------------------  -->
      <% @genres.each do |genre|  %>
        <template id="training_name_<%= genre.id %>"><!-- このidをもとに呼び出される-->
         <div id="selected_training_name">
          <div class="form-group">
          <%= f.label :"トレ名" %>
          <%= f.collection_select :training_name_id, genre.training_names, :id, :name, {include_blank: "---", prompt: false}, class: "form-control" %>
          </div>
         </div>
        </template>
      <% end %>

      <div class="form-group">
        <%= f.label :"日付" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"回数" %>
        <%= f.number_field :count, min: 1, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"セット数" %>
        <%= f.number_field :set, min: 1, class: "form-control" %>
      </div>
      <div class="form-group">
       <div class="radio_button">
        <%= f.radio_button :status, TrainingMenu.statuses.key(0), onchange: "myfunc(this.value)", checked: true %>
        <%= f.label :status, "自重" %>
        <%= f.radio_button :status, TrainingMenu.statuses.key(1), onchange: "myfunc(this.value)" %>
        <%= f.label :status, "加重" %>
        <%= f.radio_button :status, TrainingMenu.statuses.key(2),onchange: "myfunc(this.value)" %>
        <%= f.label :status, "有酸素" %>
       </div>
      </div>
      <div class="form-group">
        <div id="hidden1">
         <%= f.label :"重さ" %>
         <%=f.number_field :weight, min: 1, class: "form-control" %>kg
        </div>
      </div>
      <div class="form-group">
        <div id="hidden2">
          <%= f.label :"距離" %>
          <%=f.number_field :distance, min: 1, class: "form-control" %>km
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "メニューを編集する", class: "btn btn-info btn-sm float-right col-lg-5 col-sm-7" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.getElementById("hidden1").style.display ="none";
  document.getElementById("hidden2").style.display ="none";

  function myfunc(value) {
  var check1 = document.getElementById("training_menu_status_加重").checked;
  var check2 = document.getElementById("training_menu_status_有酸素").checked;
  var hidden1 = document.getElementById("hidden1");
  var hidden2 = document.getElementById("hidden2");
  if(check1 == true){
     hidden1.style.display ="block";
     }
  else{
    hidden1.style.display ="none";
  }
  if(check2 == true){
    hidden2.style.display ="block";
     }
  else{
    hidden2.style.display ="none";
  }
}
</script>

<%= javascript_pack_tag 'category_select.js', 'data-turbolinks-track': 'reload'  %>