<div class="container">
  <h1 class="text-center text-success mt-3">メニューカレンダー</h1>


  <%= month_calendar(attribute: :date, events: @training_menus) do |date, training_menus| %>

  <%= date.day %>
  <% training_menus.each do |training_menu| %>
    <div class="calendar">
      <% if training_menu.completion == false %>
       <%= link_to anywhen_path(date) do %>
       <%= training_menus.count %>種目
       <% end %>
       <% else %>
       <%= link_to "済", anywhen_path(date) %>
       <% end %>
    </div>
   <% end %>

  <% end %>
</div>
