<div class="container">
  <div class="row m-5">
    <div class="col-sm-12 text-center">
      <h1>メニュー登録</h1>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <%= form_with model: @training_menu, url: "/training_menus" ,method: :post do |f| %>
      <div class="form-group">
      <%= f.label :"部位" %>
      <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "お先にこちらを選択", prompt: false}, class: "form-control" %>
      </div>

      <div id="training_name_insert_point"></div>

      <div id="training_name">
       <div class="form-group">
        <%= f.label :"トレ名" %>
        <% if @training_names.blank? %>
           <%= f.select :training_name_id, [], {include_blank: "部位登録してください"}, class: "form-control" %>
           <% else %>
            <%= f.collection_select :training_name_id, @training_names, :id, :name, {include_blank: "---", prompt: false}, class: "form-control" %>
        <% end %>
       </div>
      </div>
<!--  --------- training_nameのtamplateを作成----------------------  -->
      <% @genres.each do |genre|  %>
        <template id="training_name_<%= genre.id %>"><!-- このidをもとに呼び出される-->
         <div id="selected_training_name">
          <div class="form-group">
          <%= f.label :"トレ名" %>
          <%= f.collection_select :training_name_id, genre.training_names, :id, :name, {include_blank: "---", prompt: false}, class: "form-control" %>
          </div>
         </div>
        </template>
      <% end %>

      <div class="form-group">
        <%= f.label :"日付" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"レップ数" %>
        <%= f.number_field :count, min: 1, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"セット数" %>
        <%= f.number_field :set, min: 1, class: "form-control" %>
      </div>
      <div class="form-group">
       <div class="radio_button">
        <%= f.radio_button :status, TrainingMenu.statuses.key(1), checked: true %>
        <%= f.label :status, "加重" %>
        <%= f.radio_button :status, TrainingMenu.statuses.key(0) %>
        <%= f.label :status, "自重" %>
        <%= f.radio_button :status, TrainingMenu.statuses.key(2) %>
        <%= f.label :status, "有酸素" %>
       </div>
      </div>
      <div class="form-group">
        <% if @training_menu.status == 1 %>
       <%= f.label :"重さ" %>
       <%=f.number_field :weight, min: 1 %>kg
       <% end %>
      </div>

      <div class="form-group">
        <%= f.submit "メニューを追加する", class: "btn btn-success float-right col-lg-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'category_select.js', 'data-turbolinks-track': 'reload'  %>