<div class="container">
  <div class="row m-5 text-center">
    <div class="col-sm-12">
      <h1><%= @menu.date %>日の<%= @menu.training_name.name %>詳細</h1>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-sm-12">
      <table class="table table-bordered table-dark">
          <tr>
            <th>日付</th>
            <td><%= @menu.date %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @menu.training_name.name %></td>
          </tr>
            <tr>
              <th>部位</th>
              <td><%= @menu.training_name.genre.name %></td>
            </tr>
            <tr>
              <th>回数×セット</th>
              <td><%= @menu.count %>×<%= @menu.set %></td>
            </tr>
            <tr>
              <th>種類</th>
              <td>
              <% if @menu.status == TrainingMenu.statuses.key(1) %>
              <p><%= @menu.weight %>kg</p>
              <% elsif @menu.status == TrainingMenu.statuses.key(0)  %>
              <p>自重</p>
              <% else %>
              <p><%= @menu.distance %>km</p>
              <% end %>
              </td>
           </tr>
      </table>
    </div>
  </div>
  <div class="row m-5 text-center">
    <% if @menu.user_id == current_user.id %>
    <div class="col-md-4 col-sm-12">
      <%= link_to "メニュー編集", edit_training_menu_path(@menu.id), class: "btn btn-info col-lg-10" %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-12">
      <%= link_to "メニュー削除", training_menu_path(@menu.id), method: :delete, "data-confirm" => "削除してもよろしいですか？", class: "btn btn-danger col-lg-10" %>
    </div>
    <% end %>
  </div>
</div>
