<div class="container">
  <div class="row m-3">
    <div class="col-sm-12 text-center">
      <h1>会員ログイン</h1>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
   <div id="userform">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="form-group" id="userNickname">
     <%= f.label :"ニックネーム（必須）" %>
     <i class="fas fa-user"></i>
     <div>
      <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "form-control" %>
     </div>
   </div>

   <div class="form-group" id="userPassword">
     <%= f.label :"パスワード（必須）" %>
     <i class="fas fa-lock"></i>
     <div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
     </div>
   </div>


   <div class="sign in">
     <%= f.submit "ログイン", class: "btn btn-success form-control col-lg-4 col-md-5 float-right", id: "userSubmit" %>
   </div>
  </div>
     <% end %>
    <h5 class="float-right mt-3">登録がお済みでない方は<span><%= link_to "こちらからお願いします！", new_user_registration_path, class: "btn btn-primary" %></span></h5>
  </div>
 </div>
</div>



<%= javascript_pack_tag 'login_form.js', 'data-turbolinks-track': 'reload'  %>
