<table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th>地域</th>
          <th>つぶやき</th>
        </tr>
      </thead>
      <tbody>
        <% users.first(10).each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(80,80), class: "profile-image2 rounded-circle" %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.prefecture %></td>
          <td><%= user.tweets.count %>件</td>
        </tr>
        <% end %>
      </tbody>
</table>