<div class="row mt-3">
  <div class="col-sm-12 text-center">
  <h1>マイページ</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6 text-center">
    <%= link_to user_followings_path(user_id: user.id) do %>
    <%= "#{user.followings.count}人フォロー中" %>
    <% end %>
  </div>
  <div class="col-md-6 text-center">
   <%= link_to user_followers_path(user_id: user.id) do %>
   <%= "#{user.followers.count}人のフォロワー" %>
   <% end %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12 col-lg-3">
   <%= image_tag user.get_profile_image(200,200), class: "profile-image rounded-circle" %>
  </div>
    <div class="col-sm-12 col-lg-7">
      <table class="table table-bordered table-dark">
        <tr>
         <th>ニックネーム</th>
         <td><%= user.nickname %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= user.prefecture %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= user.introduction %></td>
        </tr>
      </table>
    </div>
</div>

<div class="row my-5">
  <div class="col-md-4 col-sm-12 text-center">
    <%= link_to "自分のつぶやき", tweet_permember_path(current_user), class: "btn btn-primary col-lg-6" %>
  </div>
  <% if user.nickname != "guestuser" %>
   <div class="col-md-4 col-sm-12 text-center">
    <%= link_to "マイページ編集", edit_user_path, class: "btn btn-info col-lg-6" %>
   </div>
  <% end %>
  <div class="col-md-4 col-sm-12 text-center">
   <%= link_to "メニューを作る", new_training_menu_path, class: "btn btn-warning col-lg-6", data: {"turbolinks" => false} %>
  </div>
</div>

