<div class="container">
  <div class="row m-3">
    <div class="col-md-12">
      <h1 class="text-center">トレーニー一覧表</h1>
    </div>
  </div>
  <div class="row m-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th>都道府県</th>
          <th>感想</th>
        </tr>
      </thead>
      <tbody>
        <% @users.first(10).each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.prefecture %></td>
          <td><%= user.impressions.count %>件</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
