<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= image_tag('logo.png') %>
      <%= link_to root_path do %>
      <h1 class="text-dark", style= "font-family: Arial Black;">Workout<br>Menu</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
    <% if admin_signed_in? %>

    <li class="nav-item">
      <i class="fa fa-address-book fa-2x size"></i><%= link_to "会員一覧", admin_root_path,class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-comment fa-2x size"></i><%= link_to "ツイート一覧", admin_tweets_path,class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-sign-out-alt fa-2x size"></i><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "h5 text-light mr-3" %>
    </li>

    <% elsif user_signed_in? %>
   <p class="h5 text-light font-weight-bold mr-3">ようこそ！<%= nickname(current_user) %>さん！</p>

   <li class="nav-item">
      <div class="dropdown">
        <i class="fa fa-dumbbell fa-2x size"></i>
         <button class="btn btn-outline-light mr-3 dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          登録一覧
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <%= link_to "メニュー登録", new_training_menu_path, class: "text-dark ml-1" %>
          <div class="dropdown-divider"></div>
          <%= link_to "トレ名登録", new_training_name_path, class: "text-dark ml-1" %>
          <div class="dropdown-divider"></div>
          <%= link_to "部位登録", genres_path, class: "text-dark ml-1" %>
        </div>
        </div>
    </li>

    <li class="nav-item">
      <i class="fa fa-calendar fa-2x size"></i><%= link_to "メニューカレンダー", training_menus_path, class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-comment fa-2x size"></i><%= link_to "つぶやき一覧", tweets_path, class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-user fa-2x size"></i><%= link_to "マイページ", user_path(current_user.id), class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-users fa-2x size"></i><%= link_to "会員一覧", users_path, class: "h5 text-light mr-3" %>
    </li>

    <li class="nav-item">
      <i class="fa fa-sign-out-alt fa-2x size"></i><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: "h5 text-light" %>
    </li>

    <% else %>

    <li class="nav-item">
      <i class="fa fa-user-plus fa-2x size"></i><%= link_to "新規登録", new_user_registration_path, class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-lock fa-2x size"></i><%= link_to "ログイン", new_user_session_path, class: "h5 text-light mr-3" %>
    </li>
    <li class="nav-item">
      <i class="fa fa-lock fa-2x size"></i><%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class: "h5 text-light", method: :post %>
    </li>
    <% end %>
    </nav>
   </div>
</header>