<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutMenu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>


<body>
   <% unless current_page?(about_path) %>
    <%= render 'layouts/header' %>
   <% end %>

  <%= render 'layouts/flash_message' %>
    <%= yield %>

   <% unless current_page?(about_path) %>
    <%= render 'layouts/footer' %>
   <% end %>
</body>


<script>
  $(function(){
    $(".alert").fadeOut(4000);
  });
</script>


</html>
