<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutMenu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

      <%= link_to root_path do %>
    <h1 class="text-white px-5", style= "font-family:Corben,cursive;">WorkoutMenu</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
    <% if admin_signed_in? %>

    <li class="nav-item">
      <%= link_to "アバウト", about_path,class: "btn btn-warning" %>
    </li>
    <li class="nav-item">
      <%= link_to "コメント一覧", admin_post_comments_path,class: "btn btn-warning" %>
    </li>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
    </li>

    <% elsif user_signed_in? %>

    <li class="nav-item">
      <%= link_to "説明書", about_path, class: "btn btn-warning mx-4" %>
    </li>
    <li class="nav-item">
      <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-warning mx-4" %>
    </li>
    <li class="nav-item">
      <%= link_to "会員一覧", users_path, class: "btn btn-warning mx-4" %>
    </li>
    <li class="nav-item">
      <div class="dropdown">
         <button class="btn btn-success mx-4 dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          登録一覧
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <%= link_to "メニュー登録", new_training_menu_path, class: "btn btn-primary btn-sm ml-4" %>
          <div class="dropdown-divider"></div>
          <%= link_to "トレ名登録", new_training_name_path, class: "btn btn-primary btn-sm ml-4" %>
          <div class="dropdown-divider"></div>
          <%= link_to "部位登録", genres_path, class: "btn btn-primary btn-sm ml-4" %>
        </div>
    </li>
    <li class="nav-item">
      <%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger mx-4" %>
    </li>

    <% else %>

    <li class="nav-item">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success mx-4" %>
    </li>
    <li class="nav-item">
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success mx-4" %>
    </li>

    <% end %>
    </nav>

  </header>

  <body>
    <p class="text-center text-dark bg-success"><%= notice %></p>
    <%= yield %>
  </body>

<footer class="footer">
  <div class="container-fuild">
    <div class="row no-gutters">
       <div class="col-sm-12 col-md-5">
        <div class="footer-logo">WorkoutMenu</div>
       </div>
       <div class="col-sm-12 col-md-4">
        <div class="footer-logo2">©2022 motoki ueno</div>
       </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
       <div class="footer-logo3 text-dark">
        <ul class="p-0 list-unstyled">
         <li><a href="#" class="text-white">お問い合わせ</a></li>
         <li><a href="#" class="text-white">利用規約</a></li>
         <li><a href="#" class="text-white">運営者情報</a></li>
         <li><%= link_to "退会する", unsubscribe_path, class: "text-danger" %></li>
        </ul>
      </div>
    </div>
   </div>
  </div>
</footer>



</html>
